xml/comanda.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT COMANDA (CUMPARATOR, PRODUS*)>
<!ELEMENT CUMPARATOR (#PCDATA)>
<!ELEMENT PRODUS (NUME, CANTITATE, DESCRIERE?, PRET)>
<!ATTLIST PRODUS id-produs CDATA #REQUIRED>
<!ELEMENT NUME (#PCDATA)>
<!ELEMENT CANTITATE (#PCDATA)>
<!ELEMENT PRET (#PCDATA)>
<!ATTLIST PRET valuta (EUR | RON) "RON">
<!ELEMENT DESCRIERE (#PCDATA)>